* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Fredoka', sans-serif; 
    /* forse cambialo */
}

/* header */
header {
    position: sticky;
    top: 0;
}

div.row_nav {
    /* border: 1px solid black; */
    width: 100%;
    height: 50px; 
    background-color: #ffffff;
    padding: 0.625rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.col_header {
    /* border: 1px solid red; */
    width: 40%;
    height: auto; 
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.box_image {
    /* border: 1px solid green; */
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0rem 0.625rem;
}

.logo_image {
    /* border: 1px solid blue; */
    width: 7.9375rem;
    height: auto;
    object-fit: cover;
}

ul.elenco_header {
    /* border: 1px solid violet; */
    width: 70%;
    height: auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 1.25rem;
}

li.li_header {
    /* border: 1px solid purple; */
    width: calc(100% / 3 - 0.625rem);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.3125rem;
    margin: 0rem 0.3125rem;
}

a.link_header, .link_header_special {
    text-decoration: none;
    font-size: 0.875rem;
    color: #868686;
}

li.special {
    /* border: 1px solid purple; */
    background-color: #0061ff;
    text-align: center;  
    padding: 0.3125rem 0.625rem;
}

a.link_header_special {
    color: white;
}

div.first_col_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.opacity:hover {
    opacity: 0.5;
}

li.border-b:hover {
    border: 2px solid;
    border-bottom-color: black;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}





/* main */
.sec_n1 {
    /* border: 1px solid black; */
    width: 100%;
    height: auto; 
    background-color:#b4d0e7;
}

div.row_sec_n1 {
    /* border: 1px solid red; */
    width: 80%;
    height: auto; 
    margin: 0 auto;
}

h1 {
    /* border: 1px solid green; */
    font-size: 3.75rem;
    padding: 3.125rem 0rem;
}

div.row_minor {
    /* border: 1px solid violet; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

div.col_main {
    height: auto; 
}

div.second_col_left {
    /* border: 1px solid blue; */
    width: 30%;
}

div.second_col_right {
    /* border: 1px solid blue; */
    width: calc(100% - 30%);
}

p, .annulla {
    color: black;
}

.but_first_sec, .but_col_long  {
    /* border: 1px solid blue; */
    width: 60%;
    background-color: #0061ff;
    text-align: center;
    padding: 0.625rem;
    margin: 1.875rem 0rem;
}

a.prova_gratuita, .ufficio_vendite {
    text-decoration: none;
    color: white;
}

span.arrow_down {
    display: inline-block;
    font-size: 2.5rem;
    margin: 1.5rem 0rem;
}

div.card {
    /* border: 1px solid yellow; */
    width: 100%;
    height: auto; 
    margin-bottom: -6.25rem;
}

.first_img {
    /* border: 1px solid green; */
    max-width: 100%;
    height: auto; 
    object-fit: cover;
} 





/* Second section */
.sec_n2 {
    /* border: 1px solid black; */
    width: 100%;
    height: auto; 
    background-color:#ffffff; 
}

.row_sec_n2 {
    /* border: 1px solid blue; */
    width: 80%;
    height: auto; 
    margin: 0 auto;
}

h2.piano_business {
    /* border: 1px solid green; */
    width: auto;
    font-size: 1.875rem;
    margin: 8.25rem 0rem 3.125rem 4.375rem;
}

.first_choise, .second_choise {
    /* border: 1px solid green; */
    width: 20%;
    display: inline-block; 
    margin: 0rem -3.125rem 2.5rem 4.375rem;
}

div.r_m_n2 {
    /* border: 1px solid violet; */
    width: 100%;
    height: auto;
    justify-content: space-around;
}

div.col_long {
    border: 0.0625rem solid #d0d0d3;
    width: calc(100% / 3 - 6.25rem);
    height: 58.125rem;
}

div.card_singolo {
    border-bottom: 0.0625rem solid #d0d0d3;
    width: 100%;
    height: 1.875rem; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

i.fa-solid {
    /* border: 1px solid green; */
    font-size: 0.875rem;
    width: auto;
    height: auto;
    margin: 0rem 0.3125rem 0rem 0rem;
}

span.singolo {
    font-size: 0.875rem;
}

div.offer {
    /* border: 1px solid green; */
    width: auto;
    height: auto;
    padding: 1.875rem 1.875rem;
}

h3 {
    /* border: 1px solid green; */
    font-size: 1.25rem;
    padding: 0.625rem 0rem;
}

div.price_tag span {
    /* border: 1px solid green; */
    display: block;
    padding: 0.625rem 0rem;
    font-size: 0.75rem;
}

span.twelve {
    color: black;
}

span.month {
    color: #828183;
    margin-bottom: 2.5rem;
}

div.symbol {
    /* border: 1px solid red; */
    width: auto;
    height: auto;
    margin: 1.25rem 0rem;
    font-size: 0.875rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.but_col_long {
    /* border: 1px solid red; */
    width: auto;
    margin: 3.125rem 0rem 2.5rem 0rem;
}

div.acquista_ora {
    /* border: 1px solid purple; */
    width: auto;
    margin-bottom: 2.5rem;
}

hr {
    width: 3.125rem;
}

h5 {
    /* border: 1px solid green; */
    margin: 3.125rem 0rem 1.875rem 0rem;
}

i.fa-check {
    color: blue;
    font-size: 1rem;
}



/* Last horizontal  */
div.row_horiz {
    /* border: 1px solid blue; */
    width: 80%;
    height: auto; 
    margin: 2.5rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.col_horiz {
    border: 0.0625rem solid #d0d0d3;
    width: calc(100% / 1 - 6.25rem);
    height: auto;
}

div.card_team {
    border-bottom: 0.0625rem solid #d0d0d3;
    width: 100%;
    height: 1.875rem; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.last_offer {
    /* border: 1px solid green; */
    width: auto;
    height: auto;
    padding: 1.875rem 1.875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.col_horiz_left {
    /* border: 1px solid blue; */
}

div.last_info_offer {
    font-size: 0.875rem;
}

div.la_in_on1 {
    /* border: 1px solid blue; */
    padding: 0.625rem 0rem;
}

div.la_in_on2 {
    /* border: 1px solid blue; */
    padding: 0.625rem 0rem;
    margin-top: 1.875rem;
}

div.col_horiz_right {
    /* border: 1px solid blue; */
    width: 20%;
    background-color: #0061ff;
    text-align: center;
    padding: 0.625rem; 
    margin: 0rem 0rem 6.5625rem 0rem;
}



/* Third section */
.sec_n3 {
    /* border: 1px solid black; */
    width: 100%;
    height: auto; 
    background-color:#ffffff; 
}

.row_sec_n3 {
    /* border: 1px solid blue; */
    width: 80%;
    height: auto;  
    margin: 6.25rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.col_right_people {
    /* border: 1px solid red; */
    width: 70%;
    height: auto;
}

div.card_people {
    /* border: 1px solid orange; */
    width: 100%;
    height: auto;
}

.second_img {
    /* border: 1px solid green; */
    max-width: 100%;
    height: auto; 
    object-fit: cover;
}

div.col_entra_in_contatto {
    /* border: 1px solid violet; */
    width: calc(100% - 70%);
    height: auto;
    padding: 1.875rem;
}

h3.title_top {
    font-size: 1.5625rem;
}

p.middle_para {
    padding: 1.875rem 0rem;
}

div.but_partner {
    border: 0.0625rem solid #656565;
    width: 50%;
    height: auto;
    text-align: center;
}

a.link_trova_un_partner {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 0.625rem;
}




/* Fourth section */
.sec_n4 {
    /* border: 1px solid black; */
    width: 100%;
    height: auto; 
    background-color:#ffffff; 
}

.row_sec_n4 {
    /* border: 1px solid blue; */
    width: 80%;
    height: auto;
    margin: 0 auto;
}

h2.esegui_operazioni {
    font-size: 2.5rem;
}

div.r_m_n3 {
    /* border: 1px solid violet; */
    width: 100%;
    height: auto;
    margin-top: 2.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.col_series {
    /* border: 1px solid red; */
    width: calc(100% / 3 - 3.75rem);
    height: auto;
    margin: 1.875rem 0rem;
}

div.card_group {
    /* border: 1px solid blue; */
    width: auto;
    height: auto;
}

.img_group {
    /* border: 1px solid green; */
    max-width: 100%;
    height: auto; 
    object-fit: cover;
}

h4.passa_di_meno {
    font-size: 1.5625rem;
    padding: 1.25rem 0rem;
}

/* Fifth section */
.sec_n5 {
    /* border: 1px solid black; */
    width: 100%;
    height: auto; 
    background-color:#ffffff;
}

.row_sec_n5 {
    /* border: 1px solid blue; */
    width: 80%;
    height: auto; 
    margin: 0 auto;
}

h2.più_di_5 {
    width: 50%;
    font-size: 2.5rem;
    margin-top: 12.5rem;
    margin-bottom: 5rem;
}

.scopri_di_più {
    /* border: 1px solid black; */
    color: blue;
    display: inline-block;
    margin-bottom: 6.25rem;
}



/* Sixth section */
.sec_n6 {
    /* border: 1px solid black; */
    width: 100%;
    height: auto; 
    background-color:#ffffff;
}

.row_sec_n6a {
    /* border: 1px solid blue; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

div.square {
    /* border: 1px solid green; */
    width: calc(100% / 3);
    aspect-ratio: 1;
}

div.little_row {
    /* border: 1px solid red; */
    width: auto;
    height: 50%;
    display: flex;
    flex-direction: row;
}

div.card_square {
    /* border: 1px solid red; */
    width: calc(100% / 2);
    aspect-ratio: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.cs_n1 {
    border: 0.625rem solid #d1e9cd;
    background-color: #a2d39b;
}

div.cs_n2 {
    background-color: #61082b;
}

div.cs_n3 {
    background-color: #0093ce;
}

div.cs_n4 {
    background-color: #ff1c1c;
}

div.cs_n5 {
    background-color: #d5001f;
}

div.cs_n6 {
    background-color: #b4d0e7;
}

div.cs_n7 {
    background-color: #0d2481;
}

div.cs_n8 {
    background-color: #ffd830;
}

.img_square {
    /* border: 1px solid red; */
    max-width: 50%;
    height: auto; 
    object-fit: cover;
    filter: invert(1);
}

div.big_square {
    background-color: #f5f5f5;
}

div.designit {
    filter: invert(1);
    width: 90%;
    margin: 1.875rem;
}

hr.hr_under_designit {
    width: 20%;
    margin: 1.875rem;
}

blockquote {
    /* border: 1px solid black; */
    padding: 0rem 1.875rem;
}

span.lead_IT {
    /* border: 1px solid black; */
    display: inline-block;
    margin: 2.5rem 1.875rem;
}

.row_sec_n6b {
    /* border: 1px solid blue; */
    width: 100%;
    height: auto;
    background-color:  #b4d0e7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.title_but {
    /* border: 1px solid black; */
    width: 80%;
    height: auto;
    margin: 6.25rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2.porta_dropbox {
    /* border: 1px solid black; */
    width: calc(100% / 2);
    font-size: 2.5rem;
    color: #61082b;
}

div.but_la_prova {
    /* border: 1px solid black; */
    width: 20%;
    text-align: center;
    background-color: white;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a.inizia_la_prova {
    text-decoration: none;
    color: black;
}





/* Seventh section */
.sec_n7 {
    /* border: 1px solid black; */
    width: 100%;
    height: auto; 
    background-color:#ffffff;
    margin-bottom: 6.25rem;
}

.row_sec_n7 {
    /* border: 1px solid blue; */
    width: 80%;
    height: auto; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

h2.FAQ {
    /* border: 1px solid black; */
    font-size: 2.5rem;
    padding: 6.25rem 0rem 2.5rem 0rem;
    font-weight: normal;
}

div.differenze {
    border: 0.0625rem solid;
    border-top-color: #d2d2d2;
    border-right-color: transparent;
    border-bottom-color: #d2d2d2;
    border-left-color: transparent;
    width: auto;
    height: auto;
    padding: 1.875rem 1.875rem 1.875rem 0rem;
}

h4.question {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.differenze p {
    display: none;
}

div.differenze:hover p {
    display: block;
}

div.differenze:hover i {
    transform: rotate(180deg);
}




/* footer */
footer {
    background-color: black;
}

div.row_footer_up {
    /* border: 1px solid blue; */
    width: 90%;
    height: auto;  
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

div.col_footer {
    /* border: 1px solid red; */
    width: calc(100% / 5);
    height: auto; 
    margin: 6.25rem 0rem;
}

h4.titles_footer {
    font-size: 1.5625rem;
    color: white;
}

ul.elenco_footer {
    /* border: 1px solid violet; */
    width: auto;
    height: auto;
    list-style-type: none;
    margin-top: 1.875rem;
}

li.li_footer {
    /* border: 1px solid purple; */
    width: 100%;
    height: auto;
    margin: 0.625rem 0rem;
}

a.link_footer {
    text-decoration: none;
    font-size: 0.875rem;
    color: white;
}

div.row_footer_down {
    /* border: 1px solid blue; */
    width: 90%;
    height: auto;  
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

div.language {
    border-top: 0.0625rem solid white;
    height: auto;
    padding: 2.5rem 0rem;
    width: 10%;
    color: #566a79;
}
